<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<ul class="nav navbar-nav navbar-left">
 			<li class="menu-item"><a href="/bananas/photos">오래먹자 바나나</a></li>
 			<li class="menu-item"><a href="/bananas/data">바나나, 너 요즘 어때?</a></li>
 			<li class="menu-item"><a href="/bananas/points">내 바나나 밭</a></li>
 		</ul>
		<ul class="nav navbar-nav navbar-right">
			<button type="button" class="btn btn-default navbar-btn" onclick="location.href='/users/logout_complete'">바나나 먹으러 갈게~ BYE</button>
		</ul>
	</div>
</nav>

