<%=render partial:"bananas/header" %>

<div class="container">
	<% if !flash[:alert].nil? %>
	<div class="alert alert-danger">
		<%= flash[:alert] %>
	</div>
	<% end %>

	<%=render partial:"bananas/images" %>
</div>
