/* index.css */

.jumbotron{
	margin-bottom: 0;
}

.container {
	margin-top: 50px;
	padding-left: 100px;
	padding-right: 100px;
}

#project_logo {
	display: block;
	margin: auto;
}

#profile-image {
	width: 100%;
	display: block;
	margin: auto;
}

.row {
	margin-top:10px
}
